.bg-dark-pink {
    background-color: var(--dark-pink);
}

.bg-ghost-White {
    background-color: var(--ghost-White);
}

.bg-white {
    background-color: var(--white);
}

.bg-dark-sapphire {
    background-color: var(--dark-sapphire);
}