:root {
    --gray-light: #EFF1F2;
    --drak-light: #EEEFF1;
    --pantone: #425375;
    --dark-pink: #FF2E63;
    --dark-gray: #90A0C1;
    --dark-blue: #10194E;
    --anti-flash-white: #EEEFF1;
    --ghost-White: #F5F5FA;
    --dark-sapphire: #212A6B;
    --medium-sea-green: #16BE81;
    --gainsboro: #DFE4EA;
    --white: #FFF;
    --green-light: #E8FCF099;
    --selective-yellow: #FFB800;
    --floral-white: #FFFCF4;
    --snow: #FFFAFB;
    --gainsboro: #D9D9D9;
    --shamrock: #25C289;
    --cool-gray: #90A0C126;
    --ultra-red: #FF647C;
    --gray: #808080;
}