.text-gray-light {
    color: var(--gray-light);
}

.text-dark-light {
    color: var(--drak-light);
}

.text-dark-gray {
    color: var(--dark-gray);
}

.text-pantone {
    color: var(--pantone)
}

.text-dark-pink {
    color: var(--dark-pink)
}

.text-dark-blue {
    color: var(--dark-blue);
}

.text-medium-sea-green {
    color: var(--medium-sea-green)
}

.text-medium-sea-green {
    color: var(--medium-sea-green);
}

.text-white {
    color: var(--white);
}

.text-ultra-red {
    color: var(--ultra-red);
}

.text-dark-sapphire {
    color: var(--dark-sapphire);
}