<div class="grid">
    <div class="col-12">
        <div class="font-bold text-xl text-dark-blue">
            {{'saving' | translate}}
        </div>

        <div class="card balance-card">
            <div class="flex flex-wrap justify-content-between">
                <span class="font-medium text-lg text-dark-blue">{{'saving-balance' | translate}}</span>
                <span class="text-lg font-normal text-dark-blue">{{'jod' | translate}} <span
                        class="font-bold">{{saving}}</span></span>
            </div>
        </div>
    </div>

    <div class="col mt-5">
        <div class="font-bold text-xl text-dark-blue">
            {{'investment' | translate}}
        </div>

        <div class="card balance-card">
            <div class="flex flex-wrap justify-content-between">
                <span class="font-medium text-lg text-dark-blue">
                    {{'investment-balance' | translate}}
                </span>
                <span class="text-lg font-normal text-dark-blue">{{'jod' | translate}} <span
                        class="font-bold">{{investment}}</span></span>
            </div>
        </div>
    </div>
</div>