@import 'forms';
.withdraw-btn {
    background-color: var(--dark-pink);
    border-color: var(--dark-pink);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    border-radius: 5px;
    margin: 0;
}