<div class="flex justify-content-center flex-wrap">
    <div class="">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels"
        [responsive]="chartOptions.responsive" [colors]="chartOptions.colors" [plotOptions]="chartOptions.plotOptions"
        [dataLabels]="chartOptions.dataLabels" [legend]="chartOptions.legend" [fill]="chartOptions.fill"
        [yaxis]="chartOptions.yaxis" [xaxis]="chartOptions.xaxis" [stroke]="chartOptions.stroke">

    </apx-chart>
    </div>
</div>