<div class="footer px-4 py-8 md:px-6 lg:px-8">

    <div class="grid grid-nogutter text-center lg:text-left">
        <div class="col-12 sm:col-6 md:col-4 lg:col-3 mt-5 flex flex-column align-items-center lg:align-items-start">
            <img src="assets/images/logo/futeric.svg" width="103" height="23" class="" alt="futeric">
            <div
                class="flex text-gray-light text-base font-normal align-items-center w-full mt-5 justify-content-center lg:justify-content-start">
                Sed ut perspiciatis undmnis is iste<br />
                natus error sit amet voluptatem<br />
                totam rem aperiam.
            </div>
            <span class="block mt-4 font-normal text-sm text-dark-light">

                <img width="20" height="20" class="tel-img mr-2 relative" src="assets/images/icons/tel.svg">
                1234 / 12 34 567</span>
        </div>
        <div class="col-12 sm:col-6 md:col-4 lg:col-3 mt-3 flex flex-column">
            <span class="text-xl  block text-dark-light font-semibold">Resources</span>
            <ul class="list-none p-0">
                <li><a tabindex="0" class="cursor-pointer mt-3 block font-normal text-base text-gray-light">Saas
                        Development</a>
                </li>
                <li><a tabindex="0" class=" cursor-pointer mt-3 block font-normal text-base text-gray-light">Our
                        Products</a>
                </li>
                <li><a tabindex="0" class=" cursor-pointer mt-3 block font-normal text-base text-gray-light">Our
                        Products</a>
                </li>
                <li><a tabindex="0" class=" cursor-pointer mt-3 block font-normal text-base text-gray-light">User
                        Strategy</a></li>
            </ul>
        </div>
        <div class="col-12 sm:col-6 md:col-4 lg:col-3 mt-3 flex flex-column">
            <span class="text-xl  block text-dark-light font-semibold">Company</span>
            <ul class="list-none p-0">
                <li><a tabindex="0" class="cursor-pointer mt-3 block font-normal text-base text-gray-light">About
                        Landio</a></li>
                <li><a tabindex="0" class="cursor-pointer mt-3 block font-normal text-base text-gray-light">Contact &
                        Support</a></li>
                <li><a tabindex="0" class="cursor-pointer mt-3 block font-normal text-base text-gray-light">Success
                        History</a></li>
                <li><a tabindex="0" class="cursor-pointer mt-3 block font-normal text-base text-gray-light">Setting &
                        Privacy</a>
                </li>
            </ul>
        </div>
        <div class="col-12 sm:col-6 md:col-4 lg:col-3 mt-3 flex flex-column">
            <span class="text-xl  block text-dark-light font-semibold">Quick Links</span>
            <ul class="list-none p-0">
                <li><a tabindex="0" class="cursor-pointer mt-3 block font-normal text-base text-gray-light">Premium
                        Support</a></li>
                <li><a tabindex="0" class="cursor-pointer mt-3 block font-normal text-base text-gray-light">Our
                        Services</a></li>
                <li><a tabindex="0" class="cursor-pointer mt-3 block font-normal text-base text-gray-light">Know Our
                        Team</a></li>
                <li><a tabindex="0" class="cursor-pointer mt-3 block font-normal text-base text-gray-light">Download
                        App</a></li>
            </ul>
        </div>
    </div>
    <div class="px-3 py-4 lg:px-8 flex flex-column lg:flex-row justify-content-center align-items-center">
        <div class="col-fixed flex align-items-center flex-order-0 lg:flex-order-1">
            <a tabindex="0" class="cursor-pointer">
                <i class="pi pi-facebook surface-900 p-1 text-sm border-circle text-0"></i>
            </a>
            <a tabindex="0" class="cursor-pointer mx-3">
                <i class="pi pi-twitter surface-900 p-1 text-sm border-circle text-0"></i>
            </a>
            <a tabindex="0" class="cursor-pointer mx-3">
                <i class="pi pi-youtube surface-900 p-1 text-sm border-circle text-0"></i>
            </a>
            <a tabindex="0" class="cursor-pointer">
                <i class="pi pi-google surface-900 p-1 text-sm border-circle text-0"></i>
            </a>
        </div>
    </div>
</div>