/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";
@import 'colors.scss';
@import 'backgrounds.scss';
@import 'text-colors.scss';
html,
body,
.p-component {
    font-family: 'Inter';
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

